{% extends "layout-template.html" %}

{% block head %}
	<title/>{{ website_title }} | Login</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/login-form-style.css') }}">
{% endblock %}

{% block body %}



<!-- Login form -->
<!-- by Raj78 https://bootsnipp.com/snippets/dldxB -->
<div class="wrapper fadeInDown">
  <div id="formContent">

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../static/pics/book.png" id="icon" alt="Book Reviews" />
    </div>

    <!-- Login Form -->
    <form action="{{ url_for('mypage') }}" method="post">
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="Username">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="Password">
      <input type="submit" class="fadeIn fourth" value="Log In">
	  <p>Not yet a member? <a href="{{ url_for('signup') }}">Sign up</a>!</p>
    </form>

  </div>
</div>

{% endblock %}