{% extends "layout-template.html" %}

{% block head %}
	<Title/>{{ website_title }} | My Page</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/login-form-style.css') }}">
{% endblock %}

{% block body %}

		<div class="row">
			<div class="col-6"><h1>My Profile</h1>
            
            <p>
            Hello, {{ user_info.username }}!
            </p>
            
            </div>
			<div class="col-6"><h1>Search</h1></div>
		</div>

{% endblock %}