{% extends "layout-template.html" %}

{% block head %}
	<Title/>{{ website_title }} | Sign up</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/login-form-style.css') }}">
{% endblock %}

{% block body %}



<!-- Sign Up form -->
<!-- by Raj78 https://bootsnipp.com/snippets/dldxB -->
<div class="wrapper fadeInDown">
  <div id="formContent">

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../static/pics/book.png" id="icon" alt="Book Reviews" />
    </div>

    <!-- Sign up Form -->
    <form>
	  <input type="text" id="email" class="fadeIn second" name="login" placeholder="Email" required>
      <input type="text" id="login" class="fadeIn third" name="login" placeholder="Username" required>
      <input type="text" id="password" class="fadeIn fourth" name="login" placeholder="Password">
	        <input type="text" id="password" class="fadeIn fifth" name="login" placeholder="Password again">
      <input type="submit" class="fadeIn sixth" value="Log In">
	  <p>Already a member? <a href="{{ url_for('index') }}">Log in</a>!</p>
    </form>

  </div>
</div>

{% endblock %}